<div class="container contact-form py-2">
  <a href="/" class="btn btn-primary my-2">Ir a formulario</a>
  {{#if products.length}}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{#each products}}
        {{> product product=this}}
      {{/each}}
    </div>
    <a href="/" class="btn btn-primary my-2">Ir a formulario</a>
  {{else}}
    <h2>Lo sentimos, no hay ningun producto que mostrar. Vuelva mas tarde</h2>
  {{/if}}
</div>